body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    padding:0px;
    margin:0px;
    height:100%;
}

header, footer, nav, section {
    display: block;
}

footer
{
	text-align:center;
}

.foot
{
	margin-top:20px;
	border-top: 1px solid #D8D8D8  ;
	margin-left:100px;
	margin-right:100px;
}

.becode
{
	font-family:Courier;
}

.gmail
{
	width:40px;
	vertical-align:middle;
}

.iphone
{
	vertical-align:middle;
	width:40px;
}

div.all{display:none}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* My Styles*/

.content
{
	width:100%;
	height:100%;
	background-color:#f4f4f4;
	position:absolute;	
}


.headerName
{
	font-size:30px;
	margin-left:15px;
	font-family:Bemio;
}

header
{
	background-color:White;
	height:90px;
	padding-top:15px;
}

.rss
{
	float:right;
	margin-right:10px;
}

.imgrss
{
	width:50px;
	height:50px;
}

.desc
{
	font-family:Mf Summertime;
	font-size:50px;
	margin-top:20px;
	margin-right: 50px;
}

.descr
{
	text-align:right;
}
