@{
    ViewBag.Title = "Index";
}



<div class="content">

    <header>
        <div class="headerNameDiv">
            <span class="headerName">Patricia González de Castro</span>
            <div class="rss">
                <a href="#"><img class="imgrss" src="../../Content/img/twitter.png" /></a>
                <a href="#"><img class="imgrss" src="../../Content/img/facebook.gif" /></a>
                <a href="#"><img class="imgrss" src="../../Content/img/linkedin-Icon-BW.png" /></a>
            </div>
        </div>
    </header>
    <div class="all">
    <div class="descr">
        <span class="desc">profesional en márketing y comunicación corporativa</span>
    </div>

    <div id="effect-1" class="effects clearfix">
        <div class="img">
            <img src="../../Content/img/notebook.png" alt="">
            <div class="overlay">
                <a href="#" class="expand topopup">Educación</a>
                <!-- <a class="close-overlay hidden">x</a> -->
            </div>
        </div>
        <div class="img" style="margin-left:30px;">
            <img src="../../Content/img/movil.png" alt="">
            <div class="overlay">
                <a href="#" class="expand topopup2">Experiencia</a>
                <!-- <a class="close-overlay hidden">x</a> -->
            </div>
        </div>
        <div class="img" style="margin-left:30px;">
            <img src="../../Content/img/cup.png" alt="">
            <div class="overlay">
                <a href="#" class="expand">Blog</a>
                <!-- <a class="close-overlay hidden">x</a> -->
            </div>
        </div>
        <div class="img" style="margin-left:30px;">
            <img src="../../Content/img/postit.png" alt="">
            <div class="overlay">
                <a href="#" class="expand topopup4">Contacto</a>
                <!-- <a class="close-overlay hidden">x</a> -->
            </div>
        </div>
        <div class="img" style="margin-right:200px;">
            <img src="../../Content/img/keyboard.png" alt="">
            <div class="overlay">
                <a href="#" class="expand topopup3">Proyectos</a>
                <!-- <a class="close-overlay hidden">x</a> -->
            </div>
        </div>
        <div class="img">
            <img src="../../Content/img/mouse.png" alt="">
            <div class="overlay">
                <a href="#" class="expand">+</a>
                <!-- <a class="close-overlay hidden">x</a> -->
            </div>
        </div>
    </div>

    <div id="toPopup"> 

        <div class="close"></div>
       	<span class="popTitle">Educación</span>
		<div id="popup_content"> <!--your content start-->
            <p>
            xPellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
            feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi
            vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
            commodo Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
            feugiat vitae, ultricies eget, tempor sit amet, ante. </p>
            <br />
            <p>
            Donec eu libero sit amet quam egestas semper. Aenean ultricies mi
            vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
            commodo Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

        </div> <!--your content end-->

    </div> <!--toPopup end-->

	<div class="loader"></div>
   	<div id="backgroundPopup"></div>

    <!-- popup experiencia -->

    <div id="toPopup2"> 

        <div class="close"></div>
       	<span class="popTitle">Experiencia</span>
		<div id="popup_content"> <!--your content start-->
            <p>
            xPellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
            feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi
            vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
            commodo Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
            feugiat vitae, ultricies eget, tempor sit amet, ante. </p>
            <br />
            <p>
            Donec eu libero sit amet quam egestas semper. Aenean ultricies mi
            vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
            commodo Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

        </div> <!--your content end-->

    </div> <!--toPopup end-->


    <!-- popup proyectos -->
    <div id="toPopup3"> 

        <div class="close"></div>
       	<span class="popTitle">Proyectos</span>
		<div id="popup_content"> <!--your content start-->
            <p>
            xPellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
            feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi
            vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
            commodo Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
            feugiat vitae, ultricies eget, tempor sit amet, ante. </p>
            <br />
            <p>
            Donec eu libero sit amet quam egestas semper. Aenean ultricies mi
            vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
            commodo Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

        </div> <!--your content end-->

    </div> <!--toPopup end-->


    <!-- popup contacto -->
    <div id="toPopup4"> 

        <div class="close"></div>
       	<span class="popTitle">Contacto</span>
		<div id="popup_content"> <!--your content start-->
            <p style="vertical-align:middle">
                <img class="gmail" src="../../Content/img/gmail.png" />
            blabla@gmail.com</p>
            <br />
            <p style="vertical-align:middle">
                <img class="iphone" src="../../Content/img/iPhone.png" />
            654545454 </p>

        </div> <!--your content end-->

    </div> <!--toPopup end-->

	<div class="loader"></div>
   	<div id="backgroundPopup"></div>
    </div>
    <footer>
        <div class="foot">
            <span>&copy;2014 - Powered by <span class="becode">{be<strong>code</strong>}</span></span>
        </div>
    </footer>
</div>