@{
    ViewBag.Title = "Language";
}
<div class="allfullposition">
    <div class="full">
        <div class="langSelect">
            <button class="btn1" id="esp">Español</button>
            <button class="btn1" id="eng">English</button>
        </div>
    </div>
</div>