@{
    ViewBag.Title = "Language";
}

<div class="langSelect" style="text-align:center; top:50%">
    <a class="lang" onclick="Out()">Español</a>
    <a href="Home/Index" class="lang">English</a>
</div>